services:
  mongodb:
    image: mongo:7
    container_name: notice_proj-mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    restart: always

  backend:
    build: ./backend
    container_name: notice_proj-backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    environment:
      - MONGO_URI=mongodb://mongodb:27017/mernAuth
    depends_on:
      - mongodb
    restart: always

  frontend:
    build: ./frontend
    container_name: notice_proj-frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - VITE_API_URL=http://localhost:5000/api
    depends_on:
      - backend
    restart: always

volumes:
  mongodb_data:
